@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(./fonts/Inter-Regular.woff2) format("woff2"),
    url(./fonts/Inter-Regular.woff) format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(./fonts/Inter-Medium.woff2) format("woff2"),
    url(./fonts/Inter-Medium.woff) format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url(./fonts/Inter-Black.woff2) format("woff2"),
    url(./fonts/Inter-Black.woff) format("woff");
}

.pages {
  background-color: #000000;
  max-width: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 880px;
  margin: 0 auto;
}

/* --- HEADER --- */

.header {
  display: flex;
  max-width: 880px;
  height: 74px;
  flex-direction: column;
  margin: 45px auto 0;
  justify-content: space-between;
}

@media (max-width: 450px) {
  .header {
    margin: 28px auto 0;
    height: 56px;
  }
}

.header__logo {
  background-image: url(./images/mesto_white.png);
  width: 142px;
  height: 33px;
  background-size: cover;
}

@media (max-width: 908px) {
  .header__logo {
    margin: 0 27px 0;
  }
}

@media (max-width: 450px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}

.line {
  background-image: url(./images/Line.png);
  width: 100%;
  height: 1px;
}

/* --- PROFILE --- */

.profile {
  max-width: 880px;
  margin: 40px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 908px) {
  .profile {
    margin: 40px 19px 0;
  }
}

@media (max-width: 672px) {
  .profile {
    justify-content: center;
  }
}

.profile__wrap {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (max-width: 525px) {
  .profile {
    flex-direction: column;
    justify-content: center;
  }
  .profile__wrap {
    flex-direction: column;
    gap: 22.25px;
  }
  .profile-info__subtitle {
    text-align: center;
  }
}

.profile__avatar {
  background-image: url(./images/kusto_foto.png);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
.profile__profile-info {
  max-width: 336px;
  color: #ffffff;
}

.info__wrap {
  max-width: 336px;
  display: flex;
  gap: 18px;
}

.profile-info__title {
  font-weight: 500;
  font-size: 42px;
  max-width: 294px;
  line-height: 1.14;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile-info__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 16px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__eddit-button {
  background-image: url(./images/Edit.svg);
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  margin-top: 15px;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.profile__add-button {
  background-image: url(./images/Add_Button.svg);
  width: 150px;
  height: 50px;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

@media (max-width: 672px) {
  .profile__add-button {
    background-image: url(./images/Add_Button425.svg);
    margin: 16px 0 0;
    width: 282px;
  }
}

@media (max-width: 425px) {
  .profile-info__title {
    font-size: 27px;
    line-height: 33px;
  }
  .profile-info__subtitle {
    font-size: 14px;
    line-height: 17px;
    margin: 14px 0 0;
  }

  .info__wrap {
    align-items: center;
  }
  .profile__eddit-button {
    margin-top: 0;
  }
}

.profile__eddit-button:hover {
  opacity: 0.6;
}

.profile__add-button:hover {
  opacity: 0.6;
}

/* --- ELEMENTS ---*/

.elements {
  width: 100%;
  margin: 50px 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px 17px;
}

@media (max-width: 879px) {
  .elements {
    grid-template-columns: repeat(auto-fit, minmax(282px, 315px));
    justify-items: center;
    justify-content: center;
  }
}

.element {
  max-width: 282px;
  background-color: #ffffff;
  border-radius: 10px 10px;
}

.element__image {
  object-fit: cover;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}
.title__conteiner {
  display: flex;
  width: 246px;
  justify-content: space-between;
  align-items: center;
  padding: 25px 18px 30px;
}

.element__title {
  max-width: 220px;
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.element__button {
  background-image: url(./images/Like.png);
  background-size: cover;
  width: 22px;
  height: 19px;
  border: 0px;
  background-color: #fff;
  cursor: pointer;
}

.element__button:hover {
  opacity: 0.5;
}

/* --- FOOTER --- */

.footer {
  margin: 67px 0 60px 0;
}
.footer__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media (max-width: 908px) {
  .footer {
    margin: 67px 19px 60px;
  }
}

@media (max-width: 450px) {
  .footer {
    margin: 48px 19px 36px;
  }
}

/* --- POPAP --- */

.popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 195px;

  align-items: center;
}

.popup__activ {
  display: none;
}

.popup__container {
  max-width: 358px;
  background-color: #ffffff;
  padding: 36px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (max-width: 540px) {
  .popup__container {
    max-width: 238px;
    padding: 25px;
  }
}

.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 37px 0;
}

@media (max-width: 540px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 50px 0;
  }
}

.popup__grup {
  display: grid;
  gap: 30px;
}

.popup__grup:last-child {
  margin-bottom: 0px;
}

.popup__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  padding: 0 0 13px 0;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}

@media (max-width: 540px) {
  .popup__input {
    font-size: 14px;
    line-height: 17px;
  }
}

.popup__batton {
  width: 358px;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 0;
  margin: 48px 0 0 0;
  cursor: pointer;
  border-radius: 2px;
  border: none;
}

@media (max-width: 540px) {
  .popup__batton {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}

.icon-clouse {
  background-image: url(./images/Close_Icon.svg);
  width: 32px;
  height: 32px;
  position: absolute;
  top: -36px;
  left: 431px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

@media (max-width: 540px) {
  .icon-clouse {
    width: 20px;
    height: 20px;
    top: -33px;
    left: 265px;
    background-size: cover;
  }
}
