.header__logo {
  background-image: url(../../../images/logo_header.svg);
  width: 142px;
  height: 33px;
  background-size: cover;
  margin-bottom: 41px;
}

@media (max-width: 908px) {
  .header__logo {
    margin: 0 27px 31.6px;
  }
}

@media (max-width: 450px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}
