.profile__add-button {
  background-image: url(../../../images/Add_Button.svg);
  width: 150px;
  height: 50px;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}

.profile__add-button:hover {
  opacity: 0.6;
  transition: 0.3s;
}

@media (max-width: 672px) {
  .profile__add-button {
    background-image: url(../../../images/Add_Button425.svg);
    margin: 36px 0 0;
    width: 282px;
  }
}
